@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#progress-file-upload {
  height: 50%; 
  background-color: #9BBDF9; 
}

#progress-file-upload-bar {
  background-color: #4CABD3; 
}

#file-upload-button {
  background-color: #4CABD3;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  width: 200px;
  font-weight: bold;
}

#form-file-upload {
  justify-content: center;
  height: 65px;
  width: 415px;
  max-width: 100%;
  text-align: center;
}

#label-file-upload {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  cursor: pointer;
  padding-top: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 3px;
  border-radius: 0.5rem;
  border-style: dotted;
  border-color: #4CABD3;
  background-color: #f8fafc;
}

#hero-image {
  position: relative;
  background: url('../public/upload.gif');
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  margin-top: 5px; 
}

#hero-title {
  font-family: 'Roboto Slab', serif;
  color: #4CABD3;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: -3px;
  padding-left: 30px;
}

#hero {
  background-color: white;
}

@media screen and (min-width: 601px) {
  #hero-title {
    letter-spacing: -5px;
    font-size: 70px;
    padding-left: 143px;
  }
}

#file-upload-section {
  margin-bottom: 120px; 
}

@media screen and (min-width: 540px) {
  #file-upload-section {
    padding-left: 55px;
  }
}


@media screen and (min-width: 601px) {
  #file-upload-section {
    padding-left: 205px;
  }
}

@media screen and (min-width: 701px) {
  #file-upload-section {
    padding-left: 180px;
  }
}

@media screen and (min-width: 900px) {
  #file-upload-section {
    padding-left: 240px;
  }
}

@media screen and (min-width: 1000px) {
  #file-upload-section {
    padding-left: 35%;
  }
}

#navigation {
  background-color: #4CABD3 !important;
}


